# Virtual Environments
.venv/
.venv3/
venv/
ENV/

# Python cache and bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables (if you use .env files)
.env

# Other
opening_assignment/